@model IEnumerable<PWEB_2324.Models.Locador>

@{
    ViewData["Title"] = "Locadores";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>
    @ViewData["Title"]
</h1>
<div class="row">
    <div class="col-6" style="width: 100%">
        <small><a class="btn btn-primary btn-sm" asp-action="Create">Adicionar</a></small>
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Filtros
        </button>
    </div>
</div>
<hr style="border: solid dodgerblue" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filtros</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-action="Index" asp-controller="Locador">
                        <div>
                            <label>Pesquisa por nome de locador:</label>
                            <input type="text" id="NomeLocador" name="NomeLocador">
                        </div>
                        <div>
                            <label>Estado da subscrição:</label>
                            <select name="estadoSubscricao">
                                <option value="">Todos</option>
                                <option value="True">Ativo</option>
                                <option value="False">Desativo</option>
                            </select>
                        </div>
                        <input type="submit" value="Pesquisar" />
                    </form>
                </div>
            </div>
        </div>
    </div>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Detalhes</a> |
                    @if (item.Ativo)
                    {
                                <a asp-action="ToggleStatus" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Desativar</a>
                    }
                    else
                    {
                                <a asp-action="ToggleStatus" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Ativar</a>
                    }|
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Apagar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>