@model PWEB_2324.Models.Imovel

@{
    ViewData["Title"] = "Apagar";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Apagar Registo de Imovel</h1>

<h4>Tem a certeza de que quer apagar este registo de Imovel?</h4>
<div>
    <hr style="border: solid dodgerblue" />
    <h4>Imovel</h4>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.categoria.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.categoria.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quartos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quartos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TempoMin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TempoMin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Available)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary" >Voltar à Listagem</a>
    </form>
</div>
<br />
