@model IEnumerable<PWEB_2324.Models.Imovel>

@{
    ViewData["Title"] = "Imoveis";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>
    @ViewData["Title"]
    <small><a class="btn btn-primary btn-sm" asp-action="Create">Adicionar</a></small>
</h1>
<br />
<div class="row">
    <div class="col-6">
        <form method="post">
            Pesquisa:
            <input type="text" id="TextoAPesquisar" name="TextoAPesquisar">
            <select name="CategoriaId" asp-items="ViewBag.ListaDeCategorias"></select>
            <input type="submit" value="Pesquisar" />
        </form>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-3">
        <a class="btn btn-primary btn-sm" asp-action="Index" asp-controller="Imoveis" asp-route-disponivel="">Todos</a> |
        <a class="btn btn-primary btn-sm" asp-action="Index" asp-route-disponivel="true">Activos</a> |
        <a class="btn btn-primary btn-sm" asp-action="Index" asp-route-disponivel="false">Inactivos</a>
    </div>
</div>

<hr style="border: solid dodgerblue" />

<table class="table table-bordered table-striped table-hover">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoria.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Apagar</a>
                </td>
            </tr>
    }
    </tbody>
</table>
