@model IEnumerable<PWEB_2324.Models.Employee>

@{
    ViewData["Title"] = "Utilizadores";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>
    @ViewData["Title"]
    <small><a class="btn btn-primary btn-sm" asp-action="Create">Adicionar Funcionário</a></small>
    <small><a class="btn btn-primary btn-sm" asp-action="CreateManager">Adicionar Gestor</a></small>
</h1>
<hr style="border: solid dodgerblue" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    <a asp-action="LockUnlock" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Estado da Conta</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Apagar utilizador</a>
                </td>
            </tr>
        }
    </tbody>
</table>
